<!DOCTYPE html>
<head>
	<meta name = "viewport" content = "width=device-width, initial-scale=1">	
	<meta charset = "UTF-8">
	<title> Online Farmer's Market </title>
	<link rel = "stylesheet" type = "text/css" href = "/static/css/index.css">
</head>
<html>
<body>
	<header>
		<div class = "hero-image">
			<nav>
				<ul>
					<li><a href = "#">Home</a></li>	
					<li><a href = "#">Location</a></li>	
					<li><a href = "#">About</a></li>	
				</ul>	
			</nav>
			<h1> Welcome to the Online Farmer's Market </h1>
		</div>
	</header>		
	<section>
		
	</section>
	<footer>
		
	</footer>
</body>
</html>